# Pandas

**Series** - это проиндексированный одномерный массив данных

`DataFrame` - это проиндексированный многомерный массив данных, где каждый столбец это структура данных Series

pip install pandas

In [3]:
import pandas as pd

In [4]:
pd.__version__

'1.4.2'

## Series

In [5]:
data = pd.Series(["Брест","Тула","Харьков","Сочи"])
data

0      Брест
1       Тула
2    Харьков
3       Сочи
dtype: object

In [6]:
data = pd.Series(["Брест","Тула","Харьков","Сочи"],
            index=["Крепость", "Пряник", "Гаспром", "Море"])
data

Крепость      Брест
Пряник         Тула
Гаспром     Харьков
Море           Сочи
dtype: object

In [7]:
# Доступ к элементам Series
# .loc - Доступ по меткам (индексу)
# .iloc - Доступ по порядковому номеру

In [10]:
data.loc['Крепость']

'Брест'

In [11]:
data.Крепость

'Брест'

In [12]:
data.loc[['Крепость', 'Гаспром']]

Крепость      Брест
Гаспром     Харьков
dtype: object

In [14]:
data.iloc[0]

'Брест'

In [15]:
data.iloc[[0, 2]]

Крепость      Брест
Гаспром     Харьков
dtype: object

In [16]:
data.iloc[0:3]

Крепость      Брест
Пряник         Тула
Гаспром     Харьков
dtype: object

In [17]:
data.sort_index()

Гаспром     Харьков
Крепость      Брест
Море           Сочи
Пряник         Тула
dtype: object

In [19]:
data.sort_values()

Крепость      Брест
Море           Сочи
Пряник         Тула
Гаспром     Харьков
dtype: object

In [20]:
import numpy as np
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [22]:
s.isna()
# Там, где True, данные отсутствуют

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

In [23]:
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [25]:
s2 = s[:-1]
s2

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
dtype: float64

In [26]:
s + s2
# Можно сложить серии

0     2.0
1     6.0
2    10.0
3     NaN
4    12.0
5     NaN
dtype: float64

# DataFrame

In [27]:
# (1)
df = pd.DataFrame({
    'col1': [1,2],
    'col2': [3,4]
})
df

   col1  col2
0     1     3
1     2     4

In [31]:
# (2)
df = pd.DataFrame([
    [1,2,3,4],
    [5,6,7,8]
],
columns=['aa', 'bb', 'cc', 'dd'],
index=['line-1', 'line-2'])
df

        aa  bb  cc  dd
line-1   1   2   3   4
line-2   5   6   7   8