## Красивый вывод таблицы в терминал или в текстовый файл

* pip install prettytable

ИЛИ

* python -m pip install prettytable

In [23]:
from prettytable import PrettyTable

## Простое добавление данных в таблицу

In [24]:
ta = PrettyTable()
ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
ta.add_row(["Иванов", "Иван", 19, 50000])
ta.add_row(["Петров", "Петр", 27, 120000])
ta.add_row(["Сидоров", "Ян", 18, 200])
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 120000 |
| Сидоров |  Ян  |    18   |  200   |
+---------+------+---------+--------+

In [25]:
# ta = PrettyTable()  #не работает((
# ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
# ta.add_row([
#     "Иванов", "Иван", 19, 50000,
#     "Петров", "Петр", 27, 120000,
#     "Сидоров", "Ян", 18, 200
#     ])
# print(ta)

In [26]:
ta.get_string()

'+---------+------+---------+--------+\n| Фамилия | Имя  | Возраст |   ЗП   |\n+---------+------+---------+--------+\n|  Иванов | Иван |    19   | 50000  |\n|  Петров | Петр |    27   | 120000 |\n| Сидоров |  Ян  |    18   |  200   |\n+---------+------+---------+--------+'

In [27]:
ta

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 120000 |
| Сидоров |  Ян  |    18   |  200   |
+---------+------+---------+--------+

## Копия таблицы

In [28]:
ta_2 = ta
ta_3 = ta[:]
print(id(ta))
print(id(ta_2))
print(id(ta_3))

1353258598304
1353258598304
1353258596048

In [29]:
ta[:-1] #выкинули последнюю строчку

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    27   | 120000 |
+---------+------+---------+--------+

## Выравнивание данных в таблице

In [30]:
# 1 c r
ta.align = 'r'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Иванов | Иван |      19 |  50000 |
|  Петров | Петр |      27 | 120000 |
| Сидоров |   Ян |      18 |    200 |
+---------+------+---------+--------+

In [31]:
ta.align["Возраст"] = '1'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Иванов | Иван |    19   |  50000 |
|  Петров | Петр |    27   | 120000 |
| Сидоров |   Ян |    18   |    200 |
+---------+------+---------+--------+

## Сортировка данных в таблице

In [32]:
print(ta.get_string(sortby="Возраст"))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Сидоров |   Ян |    18   |    200 |
|  Иванов | Иван |    19   |  50000 |
|  Петров | Петр |    27   | 120000 |
+---------+------+---------+--------+

In [33]:
print(ta.get_string(sortby="Возраст", reversed=True))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Сидоров |   Ян |    18   |    200 |
|  Иванов | Иван |    19   |  50000 |
|  Петров | Петр |    27   | 120000 |
+---------+------+---------+--------+

## Изменить отображение столбцов и колличества строк

In [34]:
print(ta.get_string(fields = ["Имя", "Возраст"]))

+------+---------+
|  Имя | Возраст |
+------+---------+
| Иван |    19   |
| Петр |    27   |
|   Ян |    18   |
+------+---------+

In [35]:
print(ta.get_string(start=1, end=3 ))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Петров | Петр |    27   | 120000 |
| Сидоров |   Ян |    18   |    200 |
+---------+------+---------+--------+

## Экспортировать таблицу в другой формат

In [36]:
print(ta.get_csv_string())

Фамилия,Имя,Возраст,ЗП
Иванов,Иван,19,50000
Петров,Петр,27,120000
Сидоров,Ян,18,200

In [37]:
print(ta.get_json_string(ensure_ascii=False))

[
    [
        "Фамилия",
        "Имя",
        "Возраст",
        "ЗП"
    ],
    {
        "Возраст": 19,
        "ЗП": 50000,
        "Имя": "Иван",
        "Фамилия": "Иванов"
    },
    {
        "Возраст": 27,
        "ЗП": 120000,
        "Имя": "Петр",
        "Фамилия": "Петров"
    },
    {
        "Возраст": 18,
        "ЗП": 200,
        "Имя": "Ян",
        "Фамилия": "Сидоров"
    }
]

In [38]:
print(ta.get_html_string())

<table>
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>ЗП</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Иванов</td>
            <td>Иван</td>
            <td>19</td>
            <td>50000</td>
        </tr>
        <tr>
            <td>Петров</td>
            <td>Петр</td>
            <td>27</td>
            <td>120000</td>
        </tr>
        <tr>
            <td>Сидоров</td>
            <td>Ян</td>
            <td>18</td>
            <td>200</td>
        </tr>
    </tbody>
</table>